---
import type { Accordion } from "@/types/Global"
import Typography from "./Typography.astro"
import Chevron from "@/icons/Chevron.astro"

interface Props {
	numberGroup: string
	numberAccordion: number
	accordion: Accordion
}

const { accordion, numberGroup, numberAccordion } = Astro.props

const { id, question, answer } = accordion
---

<article
	class="bg-[#F2F5F9] px-10 py-8"
	data-accordion={id}
	data-group={numberGroup}
	data-sort-accordion={numberAccordion}
>
	<header class="flex items-center justify-between gap-x-5 gap-y-2">
		<Typography as="h4" variant="h4" color="dark100">
			{question}
		</Typography>

		<button>
			<span class="max-h-2 w-full max-w-max text-primary-100">
				<Chevron />
			</span>
		</button>
	</header>

	<div
		class="hidden max-h-0 overflow-hidden transition-[display,max-height] duration-300 ease-in-out"
		data-content={`${numberGroup}-${numberAccordion}`}
	>
		<div class="mt-6 text-left transition-[height]">
			<Typography as="p" variant="body" color="dark100">
				{answer}
			</Typography>
		</div>
	</div>
</article>
