---
import { PATH_TO_IMAGES } from "@/const/global"
import IconArrowList from "@/icons/ArrowList.astro"
import type { ItemOfList } from "@/types/Global"
import Link from "./Link.astro"
import Typography from "./Typography.astro"

interface Props {
	item: ItemOfList
	order: number
}

const { item, order } = Astro.props
if (item === undefined) throw new Error("Item is required")

const { id, title, description, image, callToAction } = item
---

<li data-benefit={`${id}`}>
	<article
		class:list={[
			"flex items-center gap-x-10 gap-y-14 max-lg:flex-col-reverse max-lg:text-center lg:justify-around xl:justify-between",
			order % 2 === 0 ? "lg:flex-row" : "lg:flex-row-reverse",
		]}
	>
		<header class="max-lg:space-y-10 lg:max-w-md">
			<Typography
				as="h2"
				variant="h2"
				color="dark100"
				class="max-lg:mx-auto max-lg:max-w-md lg:mb-6"
			>
				{title}
			</Typography>

			<div class="max-lg:max-w-xl">
				<Typography as="p" variant="body" color="dark200">
					{description}
				</Typography>
			</div>

			{
				callToAction?.link && (
					<div class="flex items-center justify-center lg:mt-10 lg:justify-start">
						<Link href={callToAction?.link}>{callToAction?.label}</Link>
					</div>
				)
			}
		</header>

		<picture class="relative aspect-square w-full max-w-md">
			<div class="overflow-hidden rounded-full">
				{
					/* {
		image.webp && (
			<source srcset={image.webp} type="image/webp" />
		)
	} */
				}
				<img
					class="w-full object-cover"
					data-img={image?.jpg}
					src={`${PATH_TO_IMAGES}${image.webp || image.jpg}`}
					alt=""
				/>
			</div>

			<div
				class:list={[
					"absolute bottom-0 top-0",
					order % 2 === 0
						? "left-full ml-16 lg:ml-12 xl:ml-16"
						: "right-full mr-16 lg:mr-12 xl:mr-16",
				]}
			>
				<div
					class:list={[
						"aspect-square size-full overflow-hidden rounded-full bg-gradient-to-r from-light-100 to-transparent to-60%",
						order % 2 === 0 ? "scale-x-100" : "-scale-x-100",
					]}></div>
			</div>

			{
				order === 0 ? (
					<div
						class:list={[
							"absolute bottom-0 left-0 h-36 w-full max-w-none text-primary-100 lg:left-24 lg:-translate-x-1/2",
						]}
					>
						<IconArrowList />
					</div>
				) : (
					<div
						class:list={[
							"absolute h-36 w-full max-w-none text-primary-100",
							order % 2 === 0
								? "left-1/2 top-20 lg:left-8 lg:translate-x-1/2"
								: "right-1/4 top-0 -scale-x-100 lg:right-8 lg:-translate-x-1/2",
						]}
					>
						<IconArrowList />
					</div>
				)
			}
		</picture>
	</article>
</li>
