---
import { PATH_TO_IMAGES } from "@/const/global"
import type { FeaturedValues } from "@/types/Global"
import Typography from "./Typography.astro"

interface Props {
	featuredItems: FeaturedValues[]
}

const { featuredItems } = Astro.props
---

<article class="px-5 py-16 text-center">
	<header class="mb-12">
		<h2 class="font-mono text-5xl font-bold text-dark-100">Our Values</h2>
	</header>

	<ul
		class="grid items-center justify-center gap-8"
		style="grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));"
	>
		{
			featuredItems ? (
				featuredItems.map(({ id, title, description, sortOrder, image }, index) => {
					return (
						<li class="flex max-w-[350px] flex-col items-center justify-center" data-value={id}>
							<div class="relative py-16">
								<picture class="block aspect-square max-w-[240px] overflow-hidden rounded-full">
									<img
										class="w-full object-cover"
										data-img={image.jpg}
										src={`${PATH_TO_IMAGES}${image.webp || image.jpg}`}
										alt=""
									/>
								</picture>

								<span class="absolute bottom-2 left-1/2 flex h-24 w-24 -translate-x-1/2 items-center justify-center overflow-hidden rounded-full bg-primary-100 p-7 font-mono text-2xl font-bold text-secondary-100">
									{sortOrder.toString().padStart(2, "0")}
								</span>
							</div>

							<div class="mt-8">
								<Typography as="h4" variant="h4" color="dark100" class="mb-7">
									{title}
								</Typography>

								<div>
									<Typography as="p" variant="body" color="dark200">
										{description}
									</Typography>
								</div>
							</div>
						</li>
					)
				})
			) : (
				<li class="text-center">
					<Typography as="h4" variant="h4" color="dark100" class="mb-7">
						No content
					</Typography>
				</li>
			)
		}
	</ul>
</article>
